body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no wrap;
  justify-content: space-evenly;
}

#profileImg {
  border-radius: 50%;
}

.fade-in {
  transition: opacity 0.5s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  column-gap: 30px;
  justify-content: center;
}